<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>mutorus</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='mutorus.css')}}" />
    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mutorus.js') }}"></script>
</head>
<body>
    <div id="ytsearch">
        <form id="qf">
            <input id="q" name="q" type="text" placeholder="what do you want to watch?" />
            <input id="qs" name="qs" type="submit" value="find" />
            <button id="qn">next</button>
        </form>
    </div>
    <div id="ytframe"><noscript>You need Flash player 8+ and JavaScript enabled
            to view this video.</noscript></div>
    <div id="msgbox"><a id="msg"></a></div>
    <div id="feedback">
        feedback
            hit / miss
            sound quality: excellent, satisfatory, bad, missing
            report problem
    </div>
</body>
</html>
